/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    z-index: 1000;
    color: #78C2AD; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #78C2AD !important;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease; }

.reveal a:hover {
    color: #639483;
    text-shadow: none;
    border: none; }

.reveal .roll span:after {
    color: #78C2AD;
    background: #f30053; }

h1 {
    font-size:  calc(2.5em/1.5) !important;
}

h2 {
    font-size: calc(1.6em/1.5) !important;
}

h1, h2, h3, h4, h5, h6, .navbar-title, .menu-text, .reveal-full-page, a, li, p, div {
    font-family: "Gill Sans", sans-serif !important;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.small-letter {
    font-size: 80%;
}

.footnote-letter {
    font-size: 70%;
}

.color-minty {
    color: #78C2AD;
}

.color-blue {
    color: blue;
}

.color-red .color-unite {
color: #E95420;
}



.katex-html {
    font-size: 80%;
}