<div class="quarto-about-solana column-body">
  <div class="about-entity">
    <div class="entity-contents">
      <%= about.title %> <% partial('_links.ejs.html', { about }) %>
      <p style="margin: 0em !important;">
        <strong>
          <a href="https://www.ism.ac.jp/index_e.html" data-original-href="https://www.ism.ac.jp/index_e.html">Institute of Statistical Mathematics</a> (ISM), Tokyo, Japan
          <br> Graduate University for Advanced Studies (SOKENDAI)
        </strong>
      </p>
      <p>
        Feel free to call me <strong>Hiro</strong>
      </p>
      <p style="margin: 0em !important;">
        I work mainly on <strong>Bayesian computation</strong>, where researchers develop general-purpose algorithms that apply probability theory to real-world problems in a principled way.
      </p>
      <!-- <p>
        I work mainly on emerging sampling algorithms, such as Piecewise Deterministic Monte Carlo methods and Denoising Diffusion Models, supervised by <a href="https://sites.google.com/view/kengokamatani/home">Kengo Kamatani</a>.
      </p> -->

    </div>
    <div class="about-images">
      <img src="assets/face!!.JPG" class="about-image" style="width: 15em; margin: 1em;">
      <!-- <img src="assets/Shiba.png" class="about-image" style="width: 8em;"> -->
    </div>
  </div>
  <div class="about-contents"><%= about.body %></div>
</div>