/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    z-index: 1000;
    color: #78C2AD; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #78C2AD !important;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease; }

.reveal a:hover {
    color: #639483;
    text-shadow: none;
    border: none; }

.reveal .roll span:after {
    color: #78C2AD;
    background: #f30053; }

h1 {
    font-size:  calc(2.5em/1.2) !important;
}

h2 {
    font-size: calc(1.6em/1.2) !important;
}

h1, h2, h3, h4, h5, h6, .navbar-title, .menu-text, .reveal-full-page, a, li, p, div {
    /* font-family: "Gill Sans", sans-serif !important; */
    font-family: "BIZ UDPGothic", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

.large-letter {
  font-size: 220%;
}

.small-letter {
    font-size: 80%;
}

.footnote-letter {
    font-size: 70%;
}

.color-minty {
    color: #78C2AD;
}

.color-unite {
  color: #E95420;
}

.color-blue {
    color: #0096FF;
}

.color-background {
    color: #F0F1EB;
}

.color-julia-blue {
    color: blue;
}

.color-red {
    color: #E95420;
}

.katex-html {
    font-size: 100%;
}

.callout-style-default {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

/* .rotate90 img {
    transform: rotate(90deg);
} */

.callout-body-container {
    max-width: 100%;  /* これがないと callout section で overflow する． */
}

.MathJax.CtxtMenu_Attached_0 {
  overflow-x: auto;
  overflow-y: hidden;  /* 縦方向のスクロールバーを非表示にし、不要な縦スクロールを防ぎます。 */
  -webkit-overflow-scrolling: touch;  /* これは主にiOSデバイス向けの設定です。スクロール時のスムーズな慣性スクロールを有効にし、モバイルでのユーザー体験を向上させます。 */
}

.callout-body {
  color: #062e4b;
  font-size: 100% !important;
}